# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/.idea/

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase
.firebase/
firebase.json

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db